$color-black: #000;
$color-white: #fff;
$color-lightgrey: #fafafa;
$color-grey: #888;
$color-darkgrey: #333;
$color-red: #b82b2b;
$color-green: #2bb82b;
$color-blue: #2b39b8;
$color-yellow: #d3d01a;
$color-purple: #801ad3;
$color-aqua: #3ae1ff;
$color-cyan: #119696;

$font-family-main: 'Roboto', sans-serif;

$font-xs: 12px;
$font-sm: 14px;
$font-md: 16px;
$font-lg: 18px;
$font-xl: 20px;

$trans: 0.2s ease;

$xs: 450px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
